
header {
    background-color: cornsilk;
    width: 100%;
    margin: 0;
    height: 100px;
    text-align: center;
}
h1,h2,h3 {
    font-family: 'Ultra', serif;
    text-align: center;
}
h1 {
    font-size: 70px;
     
}
main {
    text-align: center;
    margin-bottom:80px;
}
#logo {
    margin:5px;
    float: left;
}
nav{
    padding:5px;
}
nav ul {
    text-align: center;
    font-size: 1.2em;
}
nav ul li {
    list-style:none;
    background-color: rgb(102, 155, 219);
    display: inline;
    padding: 15px;
    margin: 5px;
    border: solid 2px rgb(87, 133, 189);
    border-radius: 20px;
}
nav ul li:hover {
    background-color: darkgrey;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
article {
  column-count: 3;
  column-rule-style: groove;
  column-width: 2px;
}
footer {
    background-color: cornsilk;
    text-align: center;
    bottom: 0;
    position: fixed;
    border-radius: 5px;
    width: 100%;  
}
.flex-container {
    display: flex;
    flex-direction: row;
}
aside {
    width: 15%;
    border: solid 5px rgb(87, 133, 189);
    border-radius: 50px;
    position: absolute;
    background-color: rgb(102, 155, 219);
    padding: 5px;
    margin-left:5px;
}
form {
    margin-left: 33%;
    margin-right: 33%;
    padding: 5px;
    border: solid black 3px;
    background-image:url("../images/Sand.jpg");
}
.video {
    float:left;
    padding:5px;
}
ol li {
    text-align: left;
}
table {
    border: 2px solid black;
}
td{
    border: 2px solid black;
}